.btn {
    width: 100px;
    height: 40px;
    font-family: cursive;
}

.name {
    margin-top: 100px;
    font-family: cursive;
}

.school {
    font-family: cursive;
}

p {
    font-family: cursive;
}